.card {
    width: 23rem;
    height: 32rem;
    display: flex;
    white-space: nowrap;
    margin: 2rem;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 12px;
    color: white;
    font-weight: bold;
}
.card:hover {
    background-color: rgba(48, 35, 35, 0.726);
}

.city {
    font-size: 2rem;
}

.country {
    font-size: 1.2rem;
}

.btn {
    margin-right: -86%;
    
}

.weather-icon {
    position: relative;
    top: 0;
    animation: weather-icon-move 3s ease-in-out infinite;
}

@keyframes weather-icon-move {
	50% { 
        transform: translateY(-8px); 
    }
}